<!doctype html>
<html lang="en">

<head>
    <title>...Dots - Package Manager for Dotfiles</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="...Dots - Package Manager for .Dotfiles">
    <meta name="keywords" content="package manager dots dotfile dotfiles linux unixporn desktop tiling window manager twm customization">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!-- Main css -->
    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/splide.min.css">
    <link rel="stylesheet" href="~/css/splide-default.min.css">
    @* <link rel="stylesheet" href="~/css/splide-core.min.css"> *@
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30">

<!-- Nav Menu -->
<div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="https://dots.rahim.li">
                        <h2 style="color: white; position: relative; margin-bottom: 0px;">...Dots</h2>
                    </a> 
                        
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbar" aria-controls="navbar" aria-expanded="false"
                            aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
                    </button>
                        
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a class="nav-link active" href="#home">HOME 
                                <span class="sr-only">(current)</span></a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#features">FEATURES</a> </li>
                            <!-- <li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#pricing">PRICING</a> </li> -->
                            <li class="nav-item"> <a class="nav-link" href="#faq">FAQ</a> </li>
                            <li class="nav-item"> <a class="nav-link" href="#contact">CONTACT</a> </li>
                            <li class="nav-item"><a href="https://github.com/alvanrahimli/dots-cli/releases/tag/v1.0" style="font-size: x-small;"
                                                    target="_blank" class="btn btn-outline-light my-3 my-sm-0 ml-lg-3">REGISTER</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

@RenderBody()

<!-- // end .section -->
<footer class="my-5 text-center">
    <!-- Copyright removal is not prohibited! -->
    <p class="mb-2">
        <small>COPYRIGHT © 2021. ALL RIGHTS RESERVED. DOTS BY
            <a href="https://github.com/alvanrahimli" target="_blank">ALVAN RAHIMLI</a></small>
    </p>
    <small>
        <!-- <a href="#" class="m-2">PRESS</a> -->
        <a href="https://github.com/alvanrahimli/dots-cli/blob/master/LICENSE" class="m-2">LICENCE</a>
        <!-- <a href="#" class="m-2">PRIVACY</a> -->
    </small>
</footer>

<!-- jQuery and Bootstrap -->
<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>
<!-- Plugins JS -->
<script src="~/js/owl.carousel.min.js"></script>
<!-- Custom JS -->
<script src="~/js/script.js"></script>
<script src="~/js/splide.min.js"></script>

@await RenderSectionAsync("Scripts")

</body>

</html>